* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

button {
    padding: 5px 10px;
}